__pycache__/
.venv/
output_*/
output/
*.pyc
docs/superpowers/
.DS_Store
.worktrees/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*.fls
*.fdb_latexmk
*.synctex.gz

docs/clase_optimizadores/clase optimizadores.pdf

docs/clase_optimizadores/clase optimizadores.VTT
